li {
    font-family: sans-serif;
    font-size: 30px;
    border-top: 2px solid lightblue;
    list-style: none;
    margin-bottom: 4%;
}

input {
    border: 1px solid salmon;
    border-radius: 2px;
}